@charset "UTF-8";

@font-face {
  font-family: "/font/et-book";
  src: url("/font/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("/font/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("/font/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("/font/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("/font/et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "/font/et-book";
  src: url("/font/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("/font/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("/font/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("/font/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("/font/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "/font/et-book";
  src: url("/font/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("/font/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("/font/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("/font/et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("/font/et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "/font/et-book-roman-old-style";
  src: url("/font/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
  src: url("/font/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("/font/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("/font/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("/font/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --off-white: #fffff8;
}

::-webkit-selection {
  background-color: #fd8000;
  color: #000;
  text-shadow: none;
}

::-moz-selection {
  background-color: #fd8000;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #fd8000;
  color: #000;
  text-shadow: none;
}


* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  width: 100%;
}

body {
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 15px;
  line-height: 1.5;
  color: #111;
  background-color: var(--off-white);
  margin: 0 auto;
  padding: 0;

  width:        87.5%;
  padding-left: 12.5%;
  max-width:    1200px;

  counter-reset: sidenote-counter;
}

main {
  width: 60%;
}
@media only screen and (max-width: 1200px) {
  body {
    width:         84%;
    padding-left:  8%;
    padding-right: 8%;
  }
  main {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #151515;
    color: #ddd;
  }
}

p, dl, ol, ul {
    font-size: 1.1rem;
    line-height: 1.5rem;
}

/* header and footer areas */
.menu {
  margin: 1em 0 0 0;
  padding: 0;
}
.menu li {
  list-style-type: none;
  display: inline;
  color: #ccc;
}
.menu li:not(:first-child):before {
  padding: 0.5em;
  content: " | ";
  color: #ccc;
}

.article-meta {
  margin: -1em 0 1em 0;
}
.menu, .article-meta, footer {
  text-align: left;
}


.article-meta h2 {
  margin-top: 0;
  font-weight: 400;
}

.article-meta h3 {
  /*font-size: 1.1em;*/
  margin: 0.25em 0;
  color: #444;
}

@media (prefers-color-scheme: dark) {
  .article-meta h3 {
    color: #bbb;
  }
}


.article-meta .info {
  margin: 1em 0 1em 0;
}

.article-meta .info .series {
  font-weight: 600;
}

footer {
  margin: 1em 0 0;
  padding: 1em 0 2em 0;
  text-align: left;
  color: #ccc;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: : 1px solid #fff;
  margin: 1.5em 0;
}

@media (prefers-color-scheme: dark) {
  hr {
    border-top: 1px solid #888;
    border-bottom: : 1px solid #ddd;
  }
}

img, iframe, video {
  max-width: 100%;
}
main {
  hyphens: auto;
}
/*blockquote {
  background: #f9f9f9;
  border-left: 0.3em solid #ccc;
  padding: 0.5em 1em;
  margin: 1em 0;
}

@media (prefers-color-scheme: dark) {
  blockquote {
    background: #444;
  }
}*/

blockquote, blockquote > p {
  font-style: italic;
}

blockquote {
  margin: 1em 1em 1em 1em;
  padding: 0.5em 1em 0.5em 0.5em;
  text-align: justify-all;
  border-radius: 4px;
  font-size: 18px;
  /*background-color: #f8f8f0;*/
}

@media (prefers-color-scheme: dark) {
  blockquote {
    /*background-color: #333;*/
  }
}


blockquote p {
  margin: 0.25em 0.5em!important;
}

blockquote footer {
  size: 1.1em;
  text-align: right;
  font-style: normal;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  blockquote footer {
    color: #666;
  }

}

h1#logo {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1#logo a:hover {
  text-decoration: none;
}


h1, h2, h3 {
  /*line-height: 1.2;*/
  /*margin: 1em 0 0.5em;*/
}

h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 8px;
}

h2 {
  font-style: italic;
  font-size: 35px;
  margin-top: 4px;
  margin-bottom: 4px;
}

h3 {
  font-size: 24px;
  margin-bottom: 4px;
}

h4 {
  font-size: 20px;
  margin-bottom: 4px;
}

h1 code, h2 code {
  font-style: normal;
}

.article-meta h1 {
  font-size: 2.75em;
}


main p {
  text-align: justify;
  text-justify: inter-word;
  word-wrap: inter-word;
  overflow-wrap: inter-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

main p:not(:last-child) {
  margin: 0 0 1em;
}

main ul, main ol {
  margin-bottom: 1em;
}

a {
  color: #fd8000;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

h1 a {
  color: #333;
}

@media (prefers-color-scheme: dark) {
  h1 a {
    color: #ddd;
  }
}

.article-meta h1 a, .article-meta h2 a, .article-meta h3 a {
  color: #333;
}
.article-meta h1 a:hover, .article-meta h2 a:hover, .article-meta h3 a:hover {
  color: #fd8000;
}
@media (prefers-color-scheme: dark) {
  .article-meta h1 a, .article-meta h2 a, .article-meta h3 a {
    color: #ddd;
  }
}

.article-meta h1 a:hover:before, .article-meta h2 a:hover:before, .article-meta h3 a:hover:before {
  content: '§ ';
  margin-left: -0.75em;
  display:inline;
}


ul, ol {
  margin-left: 1.5em;
}

ul.articles {
  margin-left: 0em;
}
ul.articles li {
  list-style-type: none;
  margin-bottom: 0.5em;
}
ul.articles .date {
  color: #666;
}

@media (prefers-color-scheme: dark) {
  ul.articles .description {
    color: #aaa;
  }
}

ul.sub-articles li {
  list-style-type: disc;
  margin-bottom: 0;
}


h3 > time {
  color: #666;
}

nav + h1 {
  margin-top: 0.5em;
}


pre, code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1em;
  line-height: 1.3;
  tab-size: 4;
  word-break: normal;
  word-spacing: pre;
  text-align: left;
  word-wrap: normal;
  overflow-wrap: normal;
  overflow: auto;
  direction: ltr;
  position: relative;
}

pre {
  margin: 1em 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0.5em 1em;
  color: #333;
  background-color: #f7f7f7;
  position: relative;
}

p code, li code {
  line-height: 1;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 1px 3px;
  color: #333;
  background-color: #f7f7f7;
  font-size: 0.85em!important;
}

@media (prefers-color-scheme: dark) {
  pre, p code, li code {
    border: 1px solid #000;
  }
  pre, code, p code, li code {
    color: #f7f7f7;
    background-color: #333;
  }
}

.pre-wrap {
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space:   -o-pre-wrap;  /* Opera 7 */
  white-space:     -pre-wrap;  /* Opera 4-6 */
  white-space:      pre-wrap;  /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

article table {
  border: 1px solid #c6cbd1;
  border-collapse: collapse
;  border-spacing: 0;
  margin-bottom: 1em;
}
article table tr {
  border-top: 1px solid #c6cbd1;
  box-sizing: border-box;
}
article table tr:nth-child(2n) {
  /*background-color: #f6f8fa;*/
}
article table td, article table th {
  border: 1px solid #dfe2e5;
  padding: 0.4em 0.85em;
}

.footnotes ol li {
  margin-left: 1.0em;
  margin-bottom: 0.5em;
}

.ginger {
    color: #fd8000;
}

.wrapper {
  /*display: block;
  padding: 0 1em 1em;
  max-width: 48em;
  margin*/: 0 auto;
}


.gbt2 {
  max-width: 800px;
  margin: 0 0 0.5em;
  padding: 0;
  text-align: justify;
}

.gbt2 tr {
  line-height: 1.1;
  vertical-align: top;
}

.gbt2 tr td:first-child {
  text-align: right;
  padding-right: 0.75em;
}


.youtube {
  margin: 0 auto !important;
  text-align: center;
  position: relative;
  width: 75%;
  height: 0;
  padding-bottom: 42.1875%;
}
.youtube iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}


img[src$='#center'] {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  background-color: var(--off-white);
  padding: 4px 8px;
}

.sidenote,
.marginnote {
  float: right;
  clear: right;
  margin-right: -45%;
  width: 40%;
  margin-top: 0;
  margin-bottom: 0.5em;
  vertical-align: baseline;
  position: relative;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  top: -0.5em;
  left: 0.1em;
  margin-left: -0.2em;
  margin-right: -0.1em;
  font-size: 0.8em;
}

.sidenote:before {
  content: counter(sidenote-counter) " ";
  top: -0.5em;
  color: #fd8000;
  font-size: 0.8em;
  margin-left: -0.75em!important;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  margin-left: -0.2em;
  display: inline-block;
  max-height: 2em; /* should be less than or equal to paragraph line-height */
  color: #fd8000;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

@media only screen and (max-width: 1200px) {
  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  label.sidenote-number:hover {
    text-decoration: underline;
  }

  .sidenote,
  .marginnote {
    display: none;
  }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
  }

  label {
    cursor: pointer;
  }
}