::-webkit-selection {
	background-color: #f90;
	color: #333;
	text-shadow: none;
}

::-moz-selection {
	background-color: #f90;
	color: #333;
	text-shadow: none;
}

::selection {
	background-color: #f90;
	color: #333;
	text-shadow: none;
}

html {
	font-size: 100%;
}

body {
	font-family: Courier, monospace;
	font-size: 0.8em;
	line-height: 1.4;
	color: #333;
	background-color: #fdfdfd;
}

body > pre {
	margin: 0 auto;
}

pre, code {
	font-size: 1em;
	font-family: Courier, monospace;
	tab-size: 4;
	word-break: normal;
	word-spacing: normal;
	text-align: left;
	direction: ltr;
	position: relative;
}

pre {
	width: 56em;
	white-space: pre-wrap;

	margin: 0.5em 0 0 0;
	padding: 0 1em 0;
	border-radius: 2px;
}

pre.code {
	width: 54em;
	white-space: pre;

	padding: 0 1em 1em;

	color: #333;
	background-color: #f7f7f7;

	position: relative;
	border: 1px solid #ccc;
}

pre.code > code {
	overflow-x: auto;
}

pre.code[data-language]::before {
	content: attr(data-language);

	color: #333;
	background-color: #fdfdfd;

	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;

	padding: 0.1em 0.75em;

	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-radius: 0 0 0 4px;

	text-shadow: none;
}

a {
	color: #f90;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	font-weight: bold;
	line-height: 1;

	color: #333;

	margin: 0 0 -1rem;
	padding: 0;
}

h1 a {
	color: #333;
}

h1 {
	font-size: 1.5em;
	font-weight: 300;

	margin-top: 1rem;
}

h2 {
	font-size: 1.25em;
}

.copyright {
	margin: 1em 0 0;
	padding: 1em 0 0;

	text-align: center;
	border-top: 1px solid #ccc;
}

.ginger {
	color: #f90;
}
