/*****************************************
 * Base Styles
 *****************************************/

::selection {
	background-color: #f90;
}

html {
	font-size: 100%;
}

body {
	font-size: 1em;
	line-height: 1.4;
	font-weight: 300;
	font-family: 'Questrial', sans-serif;
	color: #333;
	background-color: #faf3ef;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Sanchez', sans-serif;
	text-transform: capitalize;
}

h1, h2, h3, p {
	margin: 0;
}

h1 {
	font-size: 2.6em;
	font-weight: 700;
	margin-bottom: 0.3em;
}

h2 {
	font-size: 2.0em;
	font-weight: 400;
	line-height: 1.3;
	margin-bottom: 0.4em;
}

h3 {
	font-size: 1.6em;
	font-weight: 400;
	line-height: 1.3;
	margin-bottom: 0.3em;
}

p {
	font-size: 1.05em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

p.date {
	color: rgba(51, 51, 51, 0.4);
	margin-bottom: 0.3em;
}

body > footer {
	margin: 1em 0;
}

body > footer > div {
	margin: 0 auto;
	padding: 0.7em 2em 1em;
	max-width: 960px;
}

body > footer p {
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	line-height: 1.5;
}

a {
	color: #333;
	text-decoration: underline;
	-webkit-transition: all 0.25s ease-in;
	   -moz-transition: all 0.25s ease-in;
	    -ms-transition: all 0.25s ease-in;
	        transition: all 0.25s ease-in;
}

a:hover {
	color: #f90;
}

pre, code {
	font-family: 'Droid Sans Mono', 'Ubuntu Mono', Consolas, Monaco, 'Andale Mono',  monospace;
	direction: ltr;
	text-align: left;
	word-spacing: normal;
	word-break: normal;

	-moz-tab-size: 4;
	  -o-tab-size: 4;
	     tab-size: 4;

	-webkit-hyphens: none;
	   -moz-hyphens: none;
	    -ms-hyphens: none;
	        hyphens: none;
}

pre code {
	white-space: pre;
}

/* Code blocks */
pre {
	padding: 1em;
	margin: .5em 0 2em;
	overflow: auto;
	border-radius: 4px;
	font-size: 0.8em;
}

/* Inline code */
:not(pre) > code {
	padding: 0.1em 0.4em;
	font-size: 0.8em;
	border-radius: 4px;
	margin: 0;
	word-break: normal;
}

.video-player {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%; /* For ratio 16:9 */
	position: relative;
	border-radius: 4px;
}

.video-player embed,
.video-player object,
.video-player iframe {
	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}



/*****************************************
 * Site Styling
 *****************************************/


body > header:after, body > aside:after, body > footer:after {
	clear: both;
}

h1.title {
	font-size: 4em;
}

#header, #main, #meta {
	margin: 0 1em;
}

#header {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 3.5em;
	z-index: 999;

	background-color: #fff;
	border-bottom: 1px solid #d4c9c2;

	top: 0;
	position: fixed;

	-webkit-transition: none!important;
	   -moz-transition: none!important;
	    -ms-transition: none!important;
	        transition: none!important;
}

#header > div, #meta {
	max-width: 62em;
	margin: 0 auto;
	padding: 0 1em;

	border-radius: 4px;
	margin-bottom: 0.5em;
}

#header h1 {
	font-size: 2em;
	margin: 0;
	font-weight: 300!important;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
}

#header h1 a {
	text-decoration: none;
	color: #333;

}
#header h1 .ginger {
	color: #f90;
	margin-right: 0.08em;
	text-transform: lowercase;
}

#header h1 sup.tm {
	font-size: 0.25em;
	vertical-align: top;
	line-height: 3em;
}

#header figure {
	position: relative;
	display: inline-block;
	margin: 0;
	top: 0.25em;
}

.nav {
	display: inline-block;
}

.nav > ul {
	padding: 0;
	display: inline;
}

.nav li {
	display: inline-block;
	list-style: none outside none;
	padding-bottom: 1em;
}

.nav a {
	display: block;
	text-decoration: none;
	width: 100%;
}


#main-nav {
	text-align: center;
	margin-top: 1em;
}

#main-nav li {
	font-size: 1.3em;
	padding-left: 1em;
}

#main-nav span {
	vertical-align: middle;
	display: block;
	font-size: 0.75em;
}

.list {
	list-style: none;
}

.list > li {
	vertical-align: top;
	margin-bottom: 1em;
	display: table;
	width: 100%;
	padding: 0;
}

.list > li > a {
	display: table-cell;
	padding: 0 0.5em;
}
.list > li > .meta {
	display: table-cell;
	text-align: right;
	width: 25%;
}

#main, #meta, #comments {
	max-width: 960px;
	margin: 0 auto;
}

#main {
	margin-top: 4em;
}

#main, #meta, #comments {
	border: 1px solid #d4c9c2;
	border-radius: 4px;
	margin-bottom: 0.5em;
	padding: 1em 1.5em;
	background-color: #fff;
}



/*****************************************
 * Homepage
 *****************************************/
#main > div > article.post {
	padding: 1em;
}

article.post
{	position: relative;
	word-wrap: break-word;
	border-bottom: 1px solid #f4e9e2;
}

article.post:after {
	display: block;
	content: "";
	width: 7px;
	height: 7px;
	border: 1px #f4e9e2 solid;
	position: absolute;
	bottom: -5px;
	left: 50%;
	margin-left: -5px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 0 0 5px #fff;
}

article.post:last-child {
	border-bottom: none;
}

article.post:last-child:after {
	display: none;
}

article.post h1 {
	margin: 0;
	font-size: 2.5em;
	color: #f90;
}

article.post h1 a {
	color: #f90;
}

article.post h2 {
	font-size: 1.5em;
}

article.post > footer {
	text-align: right;
	line-height: 3em;
}

article.post > footer .read-more {
	font-weight: bold;
	color: #f90;
	text-decoration: none;
}

#prev, #next {
	box-sizing: border-box;
	display: inline-block;
	float: left;
	vertical-align: top;
}


/*****************************************
 * Single Post
 *****************************************/

#categories, #tags {
	margin-bottom: 0.4em;
}

#categories h4, #tags h4 {
	display: inline;
	margin-right: 0.3em;
}

#categories ul, #tags ul {
	padding: 0 1em 0 0;
	list-style: none outside none;
	display: inline;
}

#categories li {
	display: inline-block;
}

#categories li:after {
	content: ", ";
}

#categories li:last-child:after {
	content: "";
}

#tags li {
	margin: 0 0 0 0.3em;
	padding: 0.3em 0.4em;

	display: inline-block;

	border-radius: 4px;
    border: 1px solid #ffb84c;
	background-color: #ffd698;

	font-size: 1em;
	line-height: 1;

	font-family: 'Droid Sans Mono', monospace;
}

#tags li:hover {
	background-color: #f90;
	-webkit-transition: all 0.25s ease-in;
	   -moz-transition: all 0.25s ease-in;
	    -ms-transition: all 0.25s ease-in;
	        transition: all 0.25s ease-in;
}

#tags li a {
	color: #333;
	text-decoration: none;
}

.subscribe-bait {
	margin: 2em auto;
	padding: 1em;

	color: #964;
    border-radius: 4px;
    border: 1px solid #ffb84c;
	background-color: #ffd698;

	text-align: center;
    margin-bottom: 1.75em;
    max-width: 480px;
}

.subscribe-bait p {
	margin: 0 0 1em;
	font-size: 1.5em;
	font-weight: bold;
}

.subscribe-bait iframe {
	vertical-align: middle;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 0.4em 0.8em;
	border-radius: 4px;
}

.btn.subscribe {
	padding: 0.1em 0.4em;
	color: #fff;
	background-color: #f90;
}



.chapter .section {
	text-align: right;
	margin-right: 1em;
}



/*****************************************
 * Media Queries
 *****************************************/

/* Larger than mobile */
@media (max-width: 550px) {}

/* Larger than phablet */
@media (max-width: 750px) {
	body {
		font-size: 87.5%;
	}
	pre, code {
		font-size: 87.5%;
	}
}

/* Larger than tablet */
@media (max-width: 1000px) {}

/* Larger than desktop */
@media (max-width: 1199px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
