/*****************************************
 * Base Styles
 *****************************************/
html {
	font-size: 100%;
}

body {
	font-size: 1em;
	line-height: 1.4;
	font-weight: 300;
	font-family: "Open Sans", sans-serif;
	color: #333;
	background-color: #faf3ef;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-family: "Open Sans", sans-serif;
	text-transform: capitalize;
	font-weight: bold;
}

h1, h2 {
	font-weight: bold;
}

p {
	margin-bottom: 1em;
}

section a, footer a {
	color: #555;
	text-decoration: none;

	-webkit-transition: all 0.25s ease-in;
	   -moz-transition: all 0.25s ease-in;
	    -ms-transition: all 0.25s ease-in;
	        transition: all 0.25s ease-in;
}

section a:hover, footer a:hover {
	color: #333;
}

body > footer {
	margin: 1em 0;
}

body > footer > div {
	margin: 0 auto;
	padding: 0.7em 2em 1em;
	max-width: 960px;
}

body > footer p {
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	line-height: 1.5;
}

a {
	color: #555;
	-webkit-transition: all 0.25s ease-in;
	   -moz-transition: all 0.25s ease-in;
	    -ms-transition: all 0.25s ease-in;
	        transition: all 0.25s ease-in;
}

a:hover {
	color: #333;
}

aside h1 {
	margin: 0 0 1em;
}

aside ul {
	list-style: none outside none;
}

aside a {
	text-decoration: none;
	color: #888;
	-webkit-transition: color 0.25s ease-in-out;
	   -moz-transition: color 0.25s ease-in-out;
	    -ms-transition: color 0.25s ease-in-out;
	        transition: color 0.25s ease-in-out;
}

aside a:hover {
	color: #f90;
}

/*****************************************
 * Site Styling
 *****************************************/


body > header:after, body > aside:after, body > footer:after {
	clear: both;
}



#header, #main, #meta {
	margin: 0 1em;
}

#header {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 3.5em;
	z-index: 999;

	background-color: #fff;
	border-bottom: 1px solid #d4c9c2;

	top: 0;
	position: fixed;

	-webkit-transition: none!important;
	   -moz-transition: none!important;
	    -ms-transition: none!important;
	        transition: none!important;
}

#header > div, #meta {
	max-width: 62em;
	margin: 0 auto;
	padding: 0 1em;

	border-radius: 2px;
	margin-bottom: 0.5em;
}

#header h1 {
	font-size: 2em;
	margin: 0;
	font-weight: 300!important;
	vertical-align: middle;
}

#header h1 a {
	text-decoration: none;
	color: #333;

}
#header h1 .ginger {
	color: #f90;
	margin-right: 0.08em;
	text-transform: lowercase;
}

#header h1 sup.tm {
	font-size: 0.25em;
	vertical-align: top;
	line-height: 3em;
}

#header figure {
	position: relative;
	display: inline-block;
	margin: 0;
	top: 0.25em;
}

#nav {
	display: inline-block;
}

#nav > ul {
	padding: 0;
	display: inline;
}

#nav li {
	display: inline-block;
	list-style: none outside none;
	padding-bottom: 1em;
}

#nav a {
	display: block;
	text-decoration: none;
	width: 100%;
}


#main-nav {
	text-align: center;
	margin-top: 1em;
}

#main-nav li {
	font-size: 1.3em;
	padding-left: 1em;
}

#main-nav span {
	vertical-align: middle;
	display: block;
	font-size: 0.75em;
}

#list {
	list-style: none;
}

#list > li {
	vertical-align: top;
	margin-bottom: 1em;
	display: table;
	width: 100%;
	padding: 0;
}

#list > li > a {
	display: table-cell;
	padding: 0 0.5em;
}
#list > li > .meta {
	display: table-cell;
	text-align: right;
	width: 25%;
}

#main, #meta, #comments {
	max-width: 960px;
	margin: 0 auto;
}

#main {
	margin-top: 4em;
}

#main, #meta, #comments {
	border: 1px solid #d4c9c2;
	border-radius: 2px;
	margin-bottom: 0.5em;
	padding: 1em 1.5em;
	background-color: #fff;
}



/*****************************************
 * Homepage
 *****************************************/
#main > div > article.post {
	padding: 1em;
}

.post
{	position: relative;
	word-wrap: break-word;
	border-bottom: 1px solid #f4e9e2;
}

.post:after {
	display: block;
	content: "";
	width: 7px;
	height: 7px;
	border: 1px #f4e9e2 solid;
	position: absolute;
	bottom: -5px;
	left: 50%;
	margin-left: -5px;
	background-color: #fff;
	border-radius: 100%;
	box-shadow: 0 0 0 5px #fff;
}

.post:last-child {
	border-bottom: none;
}

.post:last-child:after {
	display: none;
}

.post h2 {
	margin: 0;
	font-size: 2.5em;
}

.post-meta {
	color: #333;
	font-size: 0.8em;
	margin: 0.5em 0;
}

article > footer {
	text-align: right;
	line-height: 3em;
}

article > footer .read-more {
	font-weight: bold;
}


#prev, #next {
	box-sizing: border-box;
	display: inline-block;
	float: left;
	vertical-align: top;
}


/*****************************************
 * Single Post
 *****************************************/

h1#title {
	margin: 0.125em 0;
	font-size: 3.5em;
	font-weight: 700!important;
	line-height: 1.15em;
	text-transform: capitalize;
	text-align: left;
}

#meta h5 {
	padding-bottom: 1em;
}

#date, #category-title, #categories {
	display: inline-block;
}

#categories {
	padding: 0 1em 0 0;
	list-style: none outside none;
}

#categories li {
	font-weight: bold;
	display: inline-block;
}

#categories li:after {
	content: ", ";
}

#categories li:last-child:after {
	content: "";
}

#tags {
	margin: 0;
	padding: 0;
}

#tags li {
	margin: 0 0 0 0.3em;
	padding: 0.3em 0.4em;

	display: inline-block;

	border-radius: 2px;
    border: 1px solid #ffb84c;
	background-color: #ffd698;

	font-size: 1em;
	line-height: 1;

	font-family: 'Droid Sans Mono', monospace;
}

#tags li:hover {
	background-color: #f90;
	-webkit-transition: all 0.25s ease-in;
	   -moz-transition: all 0.25s ease-in;
	    -ms-transition: all 0.25s ease-in;
	        transition: all 0.25s ease-in;
}

#tags li a {
	color: #333;
}

.subscribe-bait {
	margin: 2em auto;
	padding: 1em;

	color: #964;
    border-radius: 2px;
    border: 1px solid #ffb84c;
	background-color: #ffd698;

	text-align: center;
    margin-bottom: 1.75em;
    max-width: 480px;
}

.subscribe-bait p {
	margin: 0 0 1em;
	font-size: 1.5em;
	font-weight: bold;
}

.subscribe-bait iframe {
	vertical-align: middle;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 0.4em 0.8em;
	border-radius: 2px;
}

.btn.subscribe {
	padding: 0.1em 0.4em;
	color: #fff;
	background-color: #f90;
}


/*****************************************
 * Media Queries
 *****************************************/

/* Larger than mobile */
@media (max-width: 550px) {}

/* Larger than phablet */
@media (max-width: 750px) {
	body {
		font-size: 87.5%;
	}
}

/* Larger than tablet */
@media (max-width: 1000px) {}

/* Larger than desktop */
@media (max-width: 1199px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
