/**
 * Iridis Blue Neue Theme by gingerBill
 */

pre
code {
	font-family: 'Droid Sans Mono', 'Ubuntu Mono', Consolas, Monaco, 'Andale Mono',  monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	  -o-tab-size: 4;
	     tab-size: 4;

	-webkit-hyphens: none;
	   -moz-hyphens: none;
	    -ms-hyphens: none;
	        hyphens: none;
}

@media screen {
	code,
	pre {
		background-color: #2b303b;
		color: #d2d7e0;
		text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	}

	pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
	code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
		text-shadow: none;
		background: #d2d7e0;
	}

	pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
	code[class*="language-"]::selection, code[class*="language-"] ::selection {
		text-shadow: none;
		background: #d2d7e0;
	}

	/* Code blocks */
	pre[class*="language-"] {
		padding: 1em;
		margin: .5em 0;
		overflow: auto;
	}


	/* Inline code */
	:not(pre) > code[class*="language-"] {
		padding: .1em;
		border-radius: .3em;
		word-break: normal;
	}

	.token.comment,
	.token.prolog,
	.token.doctype,
	.token.cdata {
		color: #6e7a94;
	}

	.token.punctuation {
	}

	.namespace {
		opacity: .7;
	}

	.token.builtin,
	.token.type {
		color: #40c0ff;
		font-style: italic;
	}

	.token.boolean,
	.token.number,
	.token.constant,
	.token.symbol,
	.token.deleted {
		color: #ae81ff;
	}

	.token.property,
	.token.tag {
		color: #ff3848;
	}

	.token.selector,
	.token.attr-name,
	.token.string,
	.token.char,
	.token.inserted {
		color: #b0ff22;
	}


	.token.atrule,
	.token.attr-value,
	.token.keyword {
		color: #ff3848;
	}

	.token.function {
		color: #ff5d38;
	}

	.token.important,
	.token.bold {
		font-weight: bold;
	}
	.token.italic {
		font-style: italic;
	}

	.token.entity {
		cursor: help;
	}
}

@media print {
	code,
	pre {
		background-color: transparent;
		color: black;
		text-shadow: none;
	}
}
