{{ partial "header.html" . }}
<body lang="en" itemscope itemtype="http://schema.org/Article">
{{ partial "subheader.html" . }}
<section id="main">
	<article itemprop="articleBody" class="container">
		<header>
			<h1 itemprop="name" class="title">{{ .Title }}</h1>
	{{ $sectionName := replace .Section  "-" " " }}
	{{ $snu := urlize .Section }}

	{{ if ne $sectionName "blog" }}
			<h3 class="series">Series:&nbsp;<a href="/{{ $snu }}/">{{ $sectionName }}</a></h3>
			{{ if .Params.chapter }}
			{{ $chapter := .Params.chapter }}
			{{ $section := .Params.section }}
			<h3 class="chapter"><a href="/{{ $snu }}/#chapter-{{ $chapter }}">Chapter {{ $chapter }}</a>, Section {{ $section }}</h3>
			{{ end }}
			{{ if .Params.day }}
			<h3 class="day">Day {{ .Params.chapter }}</h3>
			{{ end }}
	{{ end }}

			{{ partial "section_nav.html" . }}

			<p class="date">{{ .Date.Format "2 Jan 2006" }}</p>
		</header>
			{{ .Content }}

			{{ partial "section_nav.html" . }}
	</article>
</section>
{{ partial "post_meta.html" . }}
{{ partial "disqus.html" . }}
{{ partial "footer.html" . }}
