<footer>
	<div>
		<p>
			&copy; 2007 &ndash; 2015 <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Ginger Bill</span></span>
		</p>
	</div>
</footer>
<script type="text/javascript" async defer>
	function navToggle() {
		var mainNav = document.getElementById('main-nav');
		var threeLines = document.getElementById('three-lines');

		if (mainNav.getAttribute('class')) {
			mainNav.className = "";
			threeLines.innerHTML = "&#x2630;";
		} else {
			mainNav.className = "open";
			threeLines.innerHTML = "&#x2715;";
		}
	}
</script>
<!-- <script type="text/javascript">
	document.write('<script src="http://'
		+ (location.host || 'localhost').split(':')[0]
		+ ':1313/livereload.js?mindelay=10"></'
		+ 'script>')
</script> -->
</body>
</html>
