<!-- Fonts -->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300" />
<link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css' />
<link href='//fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css' />
<!-- Syntax Highlighting -->
<script type="text/javascript" src="/js/prism.js"></script>
<link rel="stylesheet" href="/css/prism.css" />

<!-- CSS -->
<link rel="stylesheet" href="/css/normalize.css" />
<link rel="stylesheet" href="/css/style.css" />
