<!-- 	 	<div class="subscribe-bait">
	 		<p>Enjoy this post?</p>
	 		<a class="btn subscribe" href="/post/index.xml">Subscribe via RSS</a>
	 		<iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.36a0bf81ff285eb6cad31df608651a2f.en.html#_=1438028183673&amp;dnt=true&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=TheGingerBill&amp;show_count=false&amp;show_screen_name=true&amp;size=l" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="position: static; visibility: visible; width: 184px; height: 28px;"></iframe>
	 	</div>
 -->
