<!DOCTYPE html>
<html class="no-js" lang="en-GB" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
	<meta charset="utf-8">

	{{ partial "meta.html" . }}

	<base href="{{ .Site.BaseUrl }}">
	<title>{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Permalink }}">
	<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

	{{ partial "head_includes.html" . }}
</head>
<body lang="en">
{{ partial "subheader.html" . }}
<section id="main">
	<div>
	{{ range first 10 .Data.Pages.ByDate.Reverse }}
	<article class="post">
		<header>
			<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
			<div class="post-meta">{{ .Date.Format "2 Jan 2 2006" }}</div>
		</header>
		{{ .Summary }}
		<footer>
			<a href="{{ .Permalink }}">
				<span class="read-more">Read&nbsp;more&nbsp;→</span>
			</a>
		</footer>
	</article>
	{{ end }}
	</div>
</section>
{{ partial "footer.html" . }}
