<!DOCTYPE html>
<html class="no-js" lang="en-GB" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
<!-- Basic Page Needs -->
	<meta charset="utf-8">

	{{ partial "meta.html" . }}

	<base href="{{ .Site.BaseURL }}">
	<title>Intro to C - gingerBill</title>
	<link rel="canonical" href="{{ .Permalink }}">
	{{ if .RSSlink }}<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}">{{ end }}

	{{ partial "head_includes.html" . }}
</head>
<body lang="en">
{{ partial "subheader.html" . }}
<section id="main">
	<h1 class="title">Intro To C</h1>
	<p>
		C is a very popular computer programming language which is used for system and application development.</p>
	<p>
		Despite the language being fairly old, C is widely used because of its speed, efficiency, control, and portability.</p>
	<p>
		This series is intended for beginners have no any prior knowledge or have very little knowledge of computer programming. All basic features of C programming language are included in detail with explanation and output to give you solid platform to understand C programming.
	</p>
	<p>Email <a href="mailto:intro-to-c@gingerbill.org">intro-to-c@gingerbill.org</a> to report any problems.</p>

{{ $chapters := .Site.Data.intro_to_c.data.chapters }}
{{ range $index, $key := .Data.Pages.GroupByParam "chapter"}}
	<h2>Chapter {{ .Key }} - {{ index $chapters $index }}</h2>
	<ul id="chapter-{{ .Key }}" class="list chapter">
	{{ range .Pages.ByDate  }}
		<li>
			<span>
				<span class="section">{{ .Params.section }}</span><a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
			</span>
			<p class="meta date">{{ .Date.Format "2 Jan 2006" }}</p>
		</li>
	{{ end }}
	</ul>
{{ end }}

	<h2>Frequently Asked Questions</h2>
	<section>
		<ul>
			<li>
				<h4>How long does this course take?</h4>
				<p>You should take as long as you need. For some, it could take 3 months; other 6 months; some only a week.</p>
			</li>
			<li>
				<h4>What kind of computer do I need?</h4>
				<p>I will be using Windows but OS X or Linux will suffice.</p>
			</li>
		</ul>
	</section>
</section>
{{ partial "footer.html" . }}
